.listItem {
    list-style-type: none;
    height: 110px;
}

.listItemLeft {
    float: left;
    max-width: 150px;
    width: 20%; 
    cursor: pointer;
}

.listItemRight {
    float: left;
    width: 80%;
    cursor: pointer;
}